



<form [formGroup]="Form" >

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>reason_id</mat-label>
    <input type="text" matInput [formControl]="autocomplete_Users" formControlName="autocomplete_Users" [matAutocomplete]="auto_Users">
    <mat-autocomplete #auto_Users="matAutocomplete" [displayWith]="displayUSerProperty.bind(this)" (optionSelected)="OnSelectUserChange($event)">
      <mat-option *ngFor="let option of filteredUserOptions | async" [value]="option.User_ID">
        {{option.FullName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

 
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>الشعبة</mat-label>        
          <input matInput type="text" placeholder="" value="" [formControl]="Daera_Name"  formControlName="Daera_Name" >        
      </mat-form-field>

    
      <mat-radio-group   aria-labelledby="example-radio-group-label"  (change)="onChange($event)">
        <mat-tree [dataSource]="dataSource" [treeControl]="PrivilageTreeControl" class="example-tree" >
           <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                    <mat-radio-button [value]="node.id" (click)="ClickNode(node)">{{node.FormCaption}}</mat-radio-button>          
              
            </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when:hasChild" >

          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.FormCaption">
            <mat-icon class="mat-icon-rtl-mirror">
              {{PrivilageTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>

          <mat-radio-button [value]="node.id" (click)="ClickNode(node)">{{node.FormCaption}}</mat-radio-button> 

          <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
      <div [class.example-tree-invisible]="!PrivilageTreeControl.isExpanded(node)"
      role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>

                              
    </mat-nested-tree-node>
  </mat-tree>
  

  
  </mat-radio-group>

  <div [ngSwitch]="this.ShowPrivilage">
    <div *ngSwitchCase="0">
          
    </div>

    <div *ngSwitchCase="1">
      <mat-grid-list cols="5" >

        <mat-grid-tile>   
          <mat-checkbox formControlName="privilageInput"  (change)="setAll($event.checked)" ></mat-checkbox>
        </mat-grid-tile>
    
    
        <mat-grid-tile>      
          <mat-checkbox formControlName="privilageUpdate" (change)="setAll($event.checked)" ></mat-checkbox>
        </mat-grid-tile>
    
    
        <mat-grid-tile>      
          <mat-checkbox formControlName="privilageDisplay" (change)="setAll($event.checked)" ></mat-checkbox>
        </mat-grid-tile>
    
    
        <mat-grid-tile>      
          <mat-checkbox formControlName="privilagePrint" (change)="setAll($event.checked)" ></mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>      
          <mat-checkbox formControlName="privilageDelete" (change)="setAll($event.checked)" ></mat-checkbox>
        </mat-grid-tile>
    

    
      </mat-grid-list>
    </div>

    <div *ngSwitchCase="'2'">
    
     


  <mat-grid-list cols="1"   rowHeight="100px" >

    <mat-grid-tile>   
      <mat-checkbox formControlName="privilageEntry" (change)="setAll($event.checked)" ></mat-checkbox>
    </mat-grid-tile>





  </mat-grid-list>

    </div>

   </div>

 
  

    
   
  </form>
 
