<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">

  <mat-card>
    Simple card


<div class="row">
   
        <mat-form-field  appearance="fill">
          <mat-label>الاسم</mat-label>
          <input matInput placeholder="الاسم" value="" [(ngModel)]="fname" name="input_fname" >
        </mat-form-field>
      
        <mat-form-field appearance="fill" >
          <mat-label>الكنية</mat-label>
          <input matInput placeholder="الكنية" value="" [(ngModel)]="lname" name="input_lname">
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>الام</mat-label>
            <input matInput placeholder="الام" value="" [(ngModel)]="mother" name="input_mother">
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>الأب</mat-label>
            <input matInput placeholder="الأب" value="" [(ngModel)]="father" name="input_father">
          </mat-form-field>

        </div>     
      
      <div class="row">

      <table mat-table [dataSource]="employee_List" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="fname">
          <th mat-header-cell *matHeaderCellDef> fname. </th>
          <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
        </ng-container>
        '', '', '
        <!-- Name Column -->
        <ng-container matColumnDef="lname">
          <th mat-header-cell *matHeaderCellDef> lname </th>
          <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="mother">
          <th mat-header-cell *matHeaderCellDef> mother </th>
          <td mat-cell *matCellDef="let element"> {{element.mother}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="father">
          <th mat-header-cell *matHeaderCellDef> father </th>
          <td mat-cell *matCellDef="let element"> {{element.father}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> actions </th>

          <mat-cell *matCellDef="let row" >
               <button mat-button >Edit</button>
          </mat-cell>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        

        
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlight(row)"></tr>>
      </table>
     
      </div>

      <div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
      
      <mat-card-footer>
        <button mat-button color="primary" (click)="btnSearchClick($event)">Primary</button>
        <button mat-button color="accent">Accent</button>
      </mat-card-footer>

    </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="close()">Install</button>
</mat-dialog-actions>
