
.example-form {

    min-width: 150px;
    width: 100%;
    font-size: 12px; // example


  button{
    margin: 3px;
    color: white;
    font-size: 10px;
    line-height: 18px;
    height: auto;
    width: auto;
}


    
  }


.full-width
{
  width: 100%;
}


.f
{
  font-size: 10;
}
