/* You can add global styles to this file, and also import other style files */
:host{
    direction: rtl;
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: 'Times New Roman', Times, serif, "Helvetica Neue", sans-serif; font-size: 12; 
    height: 100vh;
    width: 100vw;
}

mat-table
{
    height:100%
}
mat-form-field 
{
    width: 100%;
}
