<p>deleteemployee works!</p>
<form [formGroup]="DeleteForm">


<mat-form-field  appearance="fill" class="row">
    <mat-label>اسم الموظف</mat-label>

    <input type="text" 
           placeholder="اسم الموظف"
           aria-label="اسم الموظف"
           matInput                         
           [formControl]="autocomplete_EmployeeName"
           formControlName="autocomplete_EmployeeName"
           [matAutocomplete]="auto"           
           >
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnSelectEmpFullNameChange($event)">
            <cdk-virtual-scroll-viewport class="autocomplete-test-viewport" 
            [ngStyle]="{'height': height}"
            itemSize="25" >
            <mat-option *cdkVirtualFor="let employee of filteredEmployeeNameList"
              [value]="employee.FullName"
              [id]="employee.id"                           
              class="autocomplete-item"                          
              >
              {{employee.FullName}}
            </mat-option>
          </cdk-virtual-scroll-viewport>

           
          

          </mat-autocomplete>
    
  </mat-form-field>   
  


  <mat-form-field appearance="fill">            
    <mat-label>رقم الإضبارة </mat-label>
    <input matInput  placeholder="input_Employee_ID" value="" [formControl]="input_Employee_ID" >            
  </mat-form-field>


  <mat-form-field appearance="fill">            
    <mat-label>input_Employee_ID </mat-label>
    <input matInput  placeholder="input_Employee_ID" value="" [formControl]="input_Employee_ID" >            
  </mat-form-field>
  <mat-form-field appearance="fill">            
    <mat-label>Payrol_ID </mat-label>
    <input matInput  placeholder="Payrol_ID" value="" [formControl]="Payrol_ID" >            
  </mat-form-field>
  <mat-form-field appearance="fill">            
    <mat-label>Computer_ID </mat-label>
    <input matInput  placeholder="Computer_ID" value="" [formControl]="Computer_ID" >            
  </mat-form-field>
  <mat-form-field appearance="fill">            
    <mat-label>Global_ID </mat-label>
    <input matInput  placeholder="Global_ID" value="" [formControl]="Global_ID" >            
  </mat-form-field>

  <mat-form-field appearance="fill">            
    <mat-label>Insurance_ID </mat-label>
    <input matInput  placeholder="Insurance_ID" value="" [formControl]="Insurance_ID" >            
  </mat-form-field>


  <button mat-raised-button color="warn" mat-dialog-close (click)="delete_employee" >
    <mat-icon class="mat-icon-rtl-mirror">close
  </mat-icon>
  تعديل
  </button>


  <button mat-raised-button color="warn" mat-dialog-close >
    <mat-icon class="mat-icon-rtl-mirror">close
  </mat-icon>
  اغلاق
  </button>


</form>